{{ render(controller('CLMMfrBundle:Default:mfrmenu')) }}

Manufacturer: {{ mfrname }}
</br>
Description:  {{ description }}
</br>
Website:      <a href="{{ website }}">{{ website }}</a>
</br>
Contact Number:  {{ contactNumber }}
</br>
Recovery Number: {{ recoveryTelNumber }}
</br>
Logo:  {{ logoPath }}
</br>